/* @override 
	http://localhost:4500/assets/dm_knowledge/admin.css?body=1
	http://dev.ancientknowledge.info:4200/assets/dm_knowledge/admin.css?body=1 */

#displayed_document {
  padding-right: 210px;
  padding-left: 100px;
  font: 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#displayed_document p,
#displayed_document h1 {
  padding: 12px 8px 8px;
  border: 1px solid transparent;
}

#displayed_document [data-srcid] { position: relative; } /* needed to make next rule work */
#displayed_document p[data-srcid]:hover {
  border-right: 1px solid #ccc;
  /*border-radius: 5px;*/
}
#displayed_document p[data-srcid]:hover > sup {
  color: #333;
  display: inline;
}
#displayed_document .bubble {
  position: absolute;
  top: 0px;
  width: 200px;
  padding: 10px 8px 8px;
  overflow: hidden;
  right: -203px;
  border-radius: 5px;
}

#displayed_document .bubble:hover {
  background-color: #fef7d6;
}

#displayed_document p > sup {
  position: absolute;
/*  top: 15px;
  right: -30px;*/
  z-index: 10;
  top: 8px;
  color: #ccc;
  display: none;
}

#displayed_document span > sup {
  padding-right: 3px;
}

[data-who="Swami"] {color: #00228c;}

[data-lang="te"] {color: red;}
[data-foreign] {color: green;}
[data-speaker] {font-weight: bold;}
[data-speaker]:after { content: ':';}
[data-mantra] {
  font-size: 14px;
  font-style: italic;
}
p > [data-mantra] {
  border-top: 1px solid #aaa;
  display: block;
  border-bottom: 1px solid #aaa;
  padding-top: 5px;
  padding-bottom: 5px;
}

[data-name] {color: gray;}
[data-redact] { color: black; background-color: black;}

#displayed_document [data-speaker] {
  position: absolute;
  float: none;
  left: -105px;
  width: 100px;
  text-align: right;
}

#displayed_document [data-golden] { color: #b19005; }
#displayed_document p[data-srcid]:hover i.add_tag { display: inline; }

