<!DOCTYPE html>
<html>
<head>
  <title>DmKnowledge</title>
  <%= stylesheet_link_tag    "dm_knowledge/application", media: "all" %>
  <%= javascript_include_tag "dm_knowledge/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
